.inpt-number_theme_poe {
  height: 1.8em;

  .inpt-number {
    &__number {
      width: 100%;
      height: 1.8em;
      text-align: center;
      color: #fff;
      border: none;
      background: #1e2124;
      -moz-appearance: textfield;
      appearance: none;

      &::-webkit-outer-spin-button {
        margin: 0;
        -webkit-appearance: none;
      }

      &::-webkit-inner-spin-button {
        margin: 0;
        -webkit-appearance: none;
      }

      &:focus {
        outline: #777 solid 1px;
      }

      &_red {
        max-width: 2.5em;
        border-bottom: 1px solid #511;
      }

      &_green {
        max-width: 2.5em;
        border-bottom: 1px solid #151;
      }

      &_blue {
        max-width: 2.5em;
        border-bottom: 1px solid #115;
      }

      &_white {
        max-width: 2.5em;
        border-bottom: 1px solid #fff;
      }

      &_abyss {
        max-width: 2.5em;
        border-bottom: 1px solid brown;
      }

      &_delve {
        max-width: 2.5em;
        border-bottom: 1px solid grey;
      }
    }
  }
}
