.select_theme_poe {
  height: 1.8em;
  background: #1e2124;

  .select {
    &__flex {
      height: 100%;
    }

    &__input {
      width: 100%;
      height: 1.8em;
      color: #c5c5c6;
      border: none;
      outline: none;
      background: transparent;

      &_blur {
        text-align: center;
      }

      &_focus {
        padding-left: 0.7em;
      }
    }

    &__div {
      width: 2em;
    }

    &__triangle {
      transition: border 0.3s ease;

      &_top {
        margin-top: 0.35em;
        border: 0.35em solid transparent;
        border-top: 0.35em solid #999;
      }

      &_bottom {
        border: 0.35em solid transparent;
        border-bottom: 0.35em solid #999;
      }
    }

    &__ul {
      position: relative;
      z-index: 1;
      overflow-y: scroll;
      width: 100%;
      max-height: 15em;
      padding: 0.4em 0 0;
      border: 1px solid #5a3806;
      border-top: 0;
      background: #1e2124;
    }

    &__li {
      padding: 0.4em 0 0.4em 0.4em;

      &:hover {
        background: #465260;
      }
    }
  }
}
