.select {
  cursor: pointer;
  &__flex {
    display: flex;
    align-items: center;
  }
  &__input {
    cursor: pointer;
    &_blur {
      text-align: center;
    }
    &_focus {
      text-align: left;
    }
  }

  &__div {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__ul {
    list-style: none;
    &_off {
      display: none;
    }
    &_on {
      display: block;
    }
  }
}
