.filter {
  width: 95em;
  max-width: 100%;
  margin: 0 auto;

  &__controls {
    border-top: 1px solid #5a3806;
    background: #000;
  }

  &__div {
    display: flex;
  }

  &__buttons {
    display: flex;
    justify-content: flex-end;
  }
}

.control-panel {
  width: 50%;
  padding-right: 2em;
  color: #e4ddc9;
}

.filter-menu {
  color: #e4ddc9;
}
