.properties-box {
  width: 100%;
  padding: 0.5em 0;
  cursor: pointer;
  user-select: none;

  &__label {
    display: grid;
    width: 100%;
    cursor: pointer;
    border-bottom: 1px solid #465260;
    grid-template-columns: 2em 1fr;
  }

  &__box {
    display: none;

    &_active {
      display: block;
    }
  }
}
