.menu {
  display: flex;

  &__li {
    padding: 0.5em;
    list-style: none;
    cursor: pointer;
    user-select: none;
    color: #d6d0bd;
    background: rgba(14, 14, 14, 0.85);

    &_active {
      background: #5a3806;
    }
  }
}
